@model ProjectPractice.Models.Member

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Member</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EmailAccount" class="control-label"></label>
                <input asp-for="EmailAccount" class="form-control" />
                <span asp-validation-for="EmailAccount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EncryptedPassword" class="control-label"></label>
                <input asp-for="EncryptedPassword" class="form-control" />
                <span asp-validation-for="EncryptedPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RealName" class="control-label"></label>
                <input asp-for="RealName" class="form-control" />
                <span asp-validation-for="RealName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NickName" class="control-label"></label>
                <input asp-for="NickName" class="form-control" />
                <span asp-validation-for="NickName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BirthOfDate" class="control-label"></label>
                <input asp-for="BirthOfDate" class="form-control" />
                <span asp-validation-for="BirthOfDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mobile" class="control-label"></label>
                <input asp-for="Mobile" class="form-control" />
                <span asp-validation-for="Mobile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhotoSticker" class="control-label"></label>
                <input asp-for="PhotoSticker" class="form-control" />
                <span asp-validation-for="PhotoSticker" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="About" class="control-label"></label>
                <input asp-for="About" class="form-control" />
                <span asp-validation-for="About" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmCode" class="control-label"></label>
                <input asp-for="ConfirmCode" class="form-control" />
                <span asp-validation-for="ConfirmCode" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsConfirmed" /> @Html.DisplayNameFor(model => model.IsConfirmed)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsInBlackList" /> @Html.DisplayNameFor(model => model.IsInBlackList)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
